[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
supabase = "*"
requests = "*"
utils = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
